$text-color: #140C02;
$text-color-light: #FAF5F0;

$accent-color: #ED8812;
$hover-color: #CC7814;

$header-background-color: rgba(250, 245, 240, 0.8);
$logo-background-color: #000000;

$page-background-color: #FAF5F0;
$body-background-color: #EBEBEB;