.section {
	padding-top: 100px;

	@media screen and (max-width: 768px) {
		padding-top: 60px;
	}

	.title {
		margin-bottom: 60px;
		text-align: center;
		font-weight: 700;
		font-size: 48px;

		@media screen and (max-width: 768px) {
			margin-bottom: 40px;
			font-weight: 600;
			font-size: 24px;
		}
	}

	.list {
		display: flex;
		flex-direction: column;
		max-width: 1030px;
		margin: 0 auto;
	}

}