@import '../../styles/colors';

.header {
	position: fixed;
	top: 0;
	left: 0;

	width: 100%;
	z-index: 10;

	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color: $header-background-color;

	.headerContainer {
		display: flex;
		align-items: center;
		column-gap: 58px;

		max-width: 1440px;
		margin: 0 auto;
		padding: 0 100px;

		@media only screen and (max-width: 768px) {
			max-width: 360px;
			padding: 0 15px;
			justify-content: space-between;
		}

		.logo {
			display: flex;
			align-items: center;
			column-gap: 18px;

			@media only screen and (max-width: 768px) {
				padding: 20px 0;
				column-gap: 8px;
			}

			.logoName {
				display: flex;
				justify-content: center;
				align-items: center;

				width: 64px;
				height: 64px;

				color: $accent-color;
				background-color: $logo-background-color;
				border-radius: 50%;

				font-size: 18px;
				font-weight: 700;
				letter-spacing: 1px;
			}

			.logoInfo {
				.logoTitle {
					font-size: 26px;
					font-weight: 500;
					margin-bottom: 4px;
				}

				.logoText {
					font-weight: 500;
					font-size: 14px;
				}
			}
		}



		.menuBtn {
			cursor: pointer;

			@media screen and (min-width: 768px) {
				display: none;
			}
		}




		.iconCross {
			width: 40px;
			height: 40px;

			path {
				fill: $accent-color;
			}
		}
	}
}